body {
    font-family: 'Lato';
    text-align: center;
}

.container {
    width: 347px;
    height: auto;
    margin: auto;
    margin-top: 0;
    position: relative;
}

article {
    margin-left: 161px;
}

img {
    transition: .5s ease;
}

.overlay {
    transition: .5s ease;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text_un {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 9px 60px;
    margin-left: 160px;
    margin-top: 34px;
}

.text_deux {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 9px 60px;
    margin-left: 160px;
    margin-top: 34px;
}

.container:hover img {
    opacity: 0.3;
}

.container:hover .text_un {
    opacity: 1;
    display: block;
}

.container:hover .text_deux {
    opacity: 0.5;
    display: block;
}